.setting {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: #eaeaee;
}

.setting-value input {
  width: 84%;
}

.setting-name {
  font-weight: bold;
  display: flex;
  gap: 0.6rem;
  /* flex-basis: 30%; */
}

.edit-field {
  padding: 0.4375rem;
  border: 0.0625rem solid #282828;
  border-radius: 0.5rem;
  display: block;
}

.edit-field::placeholder {
  color: black;
}

.edit-field:focus {
  outline: none;
  border: 0.0625rem solid #8ebbff;
}

.edit-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: #eaeaee;
  transition: color 0.2s ease;
}

.edit-btn:hover {
  color: #629aef;
}

.confirm-reject {
  display: flex;
  gap: 0.5rem;
}

.confirm-reject > * {
  cursor: pointer;
  transition: color 0.2s;
}

.confirm-reject .confirm:hover {
  color: rgb(46, 209, 46);
}

.confirm-reject .reject:hover {
  color: rgb(209, 46, 46);
}

.fade-in {
  position: fixed;
  opacity: 0;
  animation: fadeIn 0.5s ease-in forwards;
}
