.home-container {
  /* width: 85%; */
  margin: 0 auto;
}

.home-events-container {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2%; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 3.5rem;
  grid-row-gap: 0.9rem;
}

.add-event-button {
  position: fixed;
  bottom: 2rem;
  right: 3rem;
  color: #eaeaee;
  font-size: 2.5rem;
  cursor: pointer;
  transition: color 0.2s ease;
}

.add-event-button:hover {
  color: #8ebbff;
}

.add-event-button a {
  text-decoration: none;
  color: inherit;
}